body{
	background:url(fondo.png);
	background-attachment:fixed;
}
header{
	top:0;
	left:0;
	right:0;
	
	background:#252932;
	margin-bottom:20px;
}
header .logo{
	font-family: 'Great Vibes', cursive;
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
}
header nav{
	float:right;
	line-height:200px; 
}
header nav a{
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header nav a:hover{
	background:#f56f3a;
	border-radius:50px;
}
.header2{
	position:fixed;
	height:100px;
}
.header2 .logo{
	line-height:100px;
	font-size:30px; 
}
.header2 nav{
	line-height:100px;
}

section h1{
	background:#f56f3a;
	border-radius:5px;
	text-align:center;
	padding:20px 10px;
}

footer{
	background:#252932;
	clear:both;
    padding:10px 0px;
    padding:10px 100px;
    color:#fff;
    bottom:0;
    position:fixed;
    width:100%;
}
.footer p{
	bottom:0;
    height:50%;
    text-align:center;
}

